.iconcontainer {
  height: 20em;
  position: absolute;
  left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  top: 20vh;
  z-index: 1000;
  .iconimgcont {
    .icon {
      font-size: 2.6vw;
      color: var(--srijan-white-1);
    }
    button {
      cursor: pointer;
      background: transparent;
      border: none;
      outline: none;
    }
  }
}

@media (max-width: 1100px) {
  .iconcontainer {
    .iconimgcont {
      .icon {
        font-size: 4.2vw;
      }
      width: 80%;
      display: flex;
      justify-content: center;
    }
  }
}

@media (max-width: 640px) {
  .iconcontainer {
    display: none;
  }
}

//sidelinks.css
