.loader {
  display: none;
}

.loader.active {
  display: block;
  height: 100vh;
  background: var(--srijan4-gradient-4);
  position: absolute;
  top: 0;
  z-index: 50000000;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes animate_img_loader_rocket {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(20px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateX(0);
  }
}

.img_loader_wrapper {
  pointer-events: none;
  user-select: none;
  animation: animate_img_loader_rocket 2s infinite;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    object-fit: contain;
  }
}

.loading_text {
  color: white;
  text-align: center;
}
