.container {
  margin: 0 0;
  padding: 3rem 0;
  margin-bottom: -1rem;
  display: block;
  background-color: #15131a;
  height: fit-content;

  .head {
    padding: 1rem 0;
    font-family: var(--srijan4-font-2);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 150%;
    width: 100%;
    gap: 7vw;

    @media screen and (max-width: 650px) {
      display: flex;
      flex-direction: column;
      font-size: 110%;
    }

    h1 {
      height: fit-content;
      font-weight: 600;
    }

    span {
      font-weight: 600;
      background: var(--srijan4-gradient-10);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }

    .logo {
      width: 8rem;
      position: relative;
      aspect-ratio: 1/1;

      @media screen and (max-width: 650px) {
        margin: 0 0 4rem 0;
      }

      .logoBorder {
        width: 100%;
        position: absolute;
      }

      .logoImage {
        width: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .days {
    width: 100%;
    display: flex;
    padding: 2rem 3rem;
    color: white;
    align-items: end;
    justify-content: center;
    position: relative;

    button {
      font-size: 2.2rem;
      background: none;
      color: white;
      border: none;
      transition: ease 2s;
      font-weight: 550;
      font-family: var(--srijan4-font-1);
      margin: 0 0.12rem;

      &:hover {
        cursor: pointer;
        background: var(--srijan4-gradient-10);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
      }
    }

    .long {
      height: 0.063rem;
      width: 60vw;
      transition: all 1s;
      animation: ease 1s;
    }
    .short {
      height: 0.63rem;
      width: 1vw;
      transition: all 1s;
      animation: ease 1s;
    }
  }

  .activeOne {
    height: 0.63rem;
    width: 5vw;
    transition: all 0.5s;
    animation: ease 0.5s;
    transform: translate(8vw, -1vw);
  }
  .activeTwo {
    height: 0.63rem;
    width: 5vw;
    transition: all 0.5s;
    animation: ease 0.5s;
    transform: translate(16.5vw, -1vw);
  }
  .activeThree {
    height: 0.63rem;
    width: 5vw;
    transition: all 0.5s;
    animation: ease 0.5s;
    transform: translate(24.5vw, -1vw);
  }

  .cards {
    margin: 1% 10%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    place-items: center;
  }

  .eventTabs {
    display: block;

    @media screen and (max-width: 650px) {
      display: none;
    }
  }

  .eventCarousal {
    display: none;

    @media screen and (max-width: 650px) {
      display: block;
    }
  }
}
