.col {
  width: 250px;
  box-sizing: border-box;
  padding: 15px;
  aspect-ratio: 107/124;
  font-size: 5rem;
  cursor: pointer;

  .buttons {
    width: 100%;
    font-size: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4%;

    button {
      padding: 2% 10%;
      cursor: pointer;
      color: white;
      font: var(--srijan4-font-1);
      margin: 2%;
      background: linear-gradient(180.56deg, #0704b9 -22.26%, #b4015f 159.83%);
      border: none;
      border-radius: 20px;
    }
  }

  .backHead {
    font-size: 2.5vmin;
    text-align: center;
    padding: 4% 0;
    margin: 0.2rem;
    color: white;
    font-family: var(--srijan4-font-1);
    border-bottom: 1px solid white;

    @media screen and (max-width: 500px) {
      font-size: 1.5rem;
    }
  }

  .backSide {
    aspect-ratio: 107/124;
    display: grid;
    width: 100%;
    gap: 10px;
    text-align: justify;
    grid-template-rows: 1fr 10fr 1fr;
    justify-content: center;

    .para {
      font-size: 1.6vmin;
      padding: 5.5% 10%;
      text-align: justify;

      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 8;
      white-space: pre-wrap;

      @media screen and (max-width: 500px) {
        font-size: 4vmin;
        padding: 6% 10%;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 10;
        white-space: pre-wrap;
      }
    }
  }

  @media screen and (max-width: 500px) {
    width: 100%;
  }
}

.container {
  -webkit-transform-style: preserve-3d;
  height: 100%;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.front,
.back {
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  background-position: center;
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
    -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  height: 100%;
  border-radius: 30px;
  aspect-ratio: 107/124;
  color: #fff;
}

.back {
  background: #cedce7;
  aspect-ratio: 107/124;
  background: -webkit-linear-gradient(45deg, #02014c 0%, #010044 100%);
  background: -o-linear-gradient(45deg, #02014c 0%, #010044 100%);
  background: linear-gradient(45deg, #02014c 0%, #010044 100%);
}

.front:after {
  aspect-ratio: 107/124;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  opacity: 0.4;
  background-color: #000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 30px;
}

.container:hover .front,
.container:hover .back {
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
    -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.inner {
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container .front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container:hover .back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container:hover .front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.front .inner p {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:after {
  content: "";
  width: 70%;
  height: 2px;
  position: absolute;
  background: #c6d4df;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -0.75rem;
}

.front .inner span {
  color: rgba(255, 255, 255, 0.7);
  font-family: var(--srijan4-font-1);
  font-weight: 300;
}
