.registrationcontainer{
    width: 100%;
    min-height: 100vh;
    display: flex;
    background-color: var(--srijan-main-theme);

    .leftcontainer{
        width: 8%;
        position: relative;
        .iconcontainer{
            width:100%;
            height: 50vh;
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            top: 15%;
        }
    }
    .rightcontainer{
        width: 92%;

        display: flex;
        .coverpicontainer{
            width: 45%;
            .coverimgcontainer{
                height: 23rem;
                width: 21rem;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .descriptioncontainer{
                width: 21rem;
                .descheading{
                    font-weight: 700;
                    font-size: 1.5em;
                    color: var(--srijan-white-1);
                    margin: 0.7em 0;
                }
                .description{
                    width: 100%;
                    min-height: 1.5em;
                    font-size: 0.8em;
                    color: var(--srijan-white-1);
                    border: 1px solid var(--srijan-white-1);
                    border-radius: 0.8em;
                    padding: 0.7em 0.5em;
                }
            }
        }
    }

}