@mixin flex-dispay($direction, $content, $item) {
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $item;
}

.cardContainer {
  position: relative;
  width: 12rem;
  height: 16rem;
  margin: 3rem 5rem;

  &:hover {
    .cardImageDiv > img {
      transform: scale(0.7) translate(-10%, -20%);
      box-shadow: 0rem 0.25rem 6.25rem var(--srijan4-shadow-1);
    }

    .cardBody {
      opacity: 1;
    }
  }

  .cardImageDiv > img {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-top-right-radius: 2rem;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 0.25rem;
    box-shadow: 0rem 0.25rem 0.25rem var(--srijan4-shadow-3),
      0rem 0.25rem 6.25rem var(--srijan4-shadow-1);
    transition: all 0.3s ease-in-out;
  }

  .cardBody {
    transform: translateY(12%);
    opacity: 0;
    width: 100%;
    height: 100%;
    @include flex-dispay(column, center, start);
    background: var(--srijan4-gradient-9);
    border-top-right-radius: 2rem;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 0.25rem;
    transition: all 0.3s ease-in-out;
    box-shadow: var(--srijan4-shadow-2) 0rem 0.75rem 1.5rem -0.25rem,
      var(--srijan4-shadow-3) 0rem 0.5rem 1rem -0.5rem;

    .memberName {
      padding: 0 3%;
      font-family: var(--srijan4-font-1);
      font-style: normal;
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 2rem;

      color: var(--srijan4-white);
    }

    .memberDesignation {
      padding: 0 3%;
      font-family: var(--srijan4-font-1);
      font-style: normal;
      font-weight: 700;
      font-size: 1rem;
      line-height: 1.5rem;
    }

    .mediaLinks {
      @include flex-dispay(column, space-around, end);
      height: 8rem;
      width: 100%;
      padding-right: 3%;

      .linkIcons {
        color: var(--srijan4-white);
        font-size: 2rem;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .cardContainer {
    width: 9rem;
    height: 12rem;

    .cardBody {
      .memberName {
        font-size: 0.9rem;
        line-height: 1.5rem;
      }

      .memberDesignation {
        font-size: 0.75rem;
        line-height: 1.125rem;
      }

      .mediaLinks {
        height: 6rem;
        .linkIcons {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .cardContainer {
    margin: 1.5rem 3rem;
  }
}
