.tophead {
  min-height: 100vh;
  background: var(--srijan4-gradient-4);

  .main_content_comingsoon {
    height: 100vh;
  }

  .moveleft:hover .srigen {
    position: absolute;
    top: 53.6%;
    left: 40%;
    transform: translate(-50%, -50%);
  }

  .moveleft:hover .mirrortxt {
    position: absolute;
    top: 53.6%;
    left: 40%;
    transform: translate(-50%, -50%);
  }

  .moveleft:hover .diamond {
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-50%, -50%);
  }
}

.topimg {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  img {
    width: 200px;
    // height: 50%;
    // object-fit: cover;
  }
}

.srigen {
  position: absolute;
  top: 53.6%;
  left: 56%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  z-index: 2;
  backdrop-filter: blur(10px);
  h1 {
    user-select: none;
    font-family: var(--Gilroy);
    font-size: 8vw;
    font-weight: 600;
    // background-color: var(--srijan4-gradient-15);
    background: linear-gradient(180deg, #b621fe 0%, #1fd1f9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.mirrortxt {
  user-select: none;
  position: absolute;
  top: 53.6%;
  left: 56%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  z-index: 20 !important;
  opacity: 0.35;
  margin-top: 7vw;
  ::before {
    content: "";
    position: absolute;
    bottom: 50%;
    left: 0;
    width: 100%;
    height: 50%;
    background: var(--srijan4-gradient-4);
    backdrop-filter: blur(5px);
    border: none;
    outline: none;
    z-index: -1;
  }
  h1 {
    font-size: 7.85vw;
    font-weight: 600;
    transform: scaleY(-1);
    opacity: 0.300000011920929;
    // background: var(--srijan4-gradient-15);
    background: linear-gradient(180deg, #b621fe 0%, #1fd1f9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.diamond {
  position: absolute;
  top: 60%;
  left: 28%;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: all 0.3s ease-in-out;
  width: 23vw;
  height: 35vw;
  backdrop-filter: blur(0.5px);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.rectangle {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}

.circularring {
  position: absolute;
  top: 63.1%;
  left: 50%;
  transform: translate(-50%, -50%);
  svg {
    width: 75vw;
    height: 75vw;
  }
}

$animationSpeed: 35s;
$animationmobilespeed: 32s;

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-22vw * 7));
  }
}

.comingtranslate {
  overflow-y: hidden;
  background-color: var(--srijan4-dark-blue);
  transform: rotate(-1deg) translateY(-40px);
  transform-origin: top right;
  .slidercomingmain {
    // background-color: var(--srijan4-dark-blue);
    padding-top: 1%;
    padding-bottom: 1%;
    margin: auto;
    overflow: hidden;
    position: relative;
    background-color: rgba(255, 255, 255, 0.356) !important;
    width: 100%;
    user-select: none;

    &::after {
      right: 0;
      top: 0;
      transform: rotateZ(180deg);
    }

    &::before {
      left: 0;
      top: 0;
    }

    .slidetrackcoming {
      animation: scroll $animationSpeed linear infinite;
      display: flex;
      width: calc(22vw * 14);
      color: white;

      .individualcomingdiv {
        display: flex;
        // margin: 0 2vw;
        justify-content: center;
        // background-color: red;
        align-items: center;
        width: 22vw;

        h1 {
          font-size: 1.2vw;
          font-family: var(--srijan5-font-5);
          font-weight: 200;
          // margin: 0 1.5vw;
          margin-left: 1.65vw !important;
        }
      }
    }
  }
}

.smallsvg {
  width: 250px;
  height: 250px;
}

.srijanlogo_bottom {
  text-align: center;
  padding: 4vw 0 10vw 0;
  img {
    width: 25%;
    object-fit: contain;
  }
}

@media (max-width: 900px) and (min-width: 661px) {
  .srigen {
    position: absolute;
    top: 58%;
    left: 58.5%;
    transform: translate(-50%, -50%);
  }

  .mirrortxt {
    position: absolute;
    top: 58%;
    left: 58.5%;
    transform: translate(-50%, -50%);
    margin-top: 8vw;
  }

  .moveleft:hover .srigen {
    position: absolute;
    top: 58% !important;
    left: 40%;
    transform: translate(-50%, -50%);
  }

  .moveleft:hover .mirrortxt {
    position: absolute;
    top: 58% !important;
    left: 40%;
    transform: translate(-50%, -50%);
  }

  .moveleft:hover .diamond {
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 660px) {
  .diamond {
    position: absolute;
    top: 60%;
    left: 35%;
    transform: translate(-50%, -50%);
    z-index: 2;
    transition: all 0.3s ease-in-out;
    width: auto;
    height: auto;
    img {
      width: 60%;
      object-fit: contain;
    }
  }

  .srigen {
    position: absolute;
    top: 54.5%;
    left: 58.5%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
    z-index: 2;

    h1 {
      user-select: none;
      font-family: var(--Gilroy);
      font-size: 8vw;
      padding-right: 0 !important;
    }
  }

  .mirrortxt {
    position: absolute;
    top: 54.5%;
    left: 58.5%;
    transform: translate(-50%, -50%);
    margin-top: 8.5vw;
    z-index: 2;

    h1 {
      font-size: 8vw;
      font-weight: 600;
      transform: scaleY(-1);
      opacity: 0.300000011920929;
    }
  }

  .moveleft:hover .srigen {
    position: absolute;
    top: 54.5% !important;
    left: 35% !important;
    transform: translate(-50%, -50%);
  }

  .moveleft:hover .mirrortxt {
    position: absolute;
    top: 54.5% !important;
    left: 35% !important;
    transform: translate(-50%, -50%);
  }

  .moveleft:hover .diamond {
    position: absolute;
    top: 60% !important;
    right: 2% !important;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    img {
      min-width: 110%;
      object-fit: cover;
    }
  }

  @keyframes scroll0 {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-40vw * 7));
    }
  }

  .comingtranslate {
    .slidercomingmain {
      padding-top: 2.5%;
      padding-bottom: 2.5%;
      .slidetrackcoming {
        animation: scroll0 $animationmobilespeed linear infinite;
        width: calc(40vw * 14);

        .individualcomingdiv {
          margin: 0 4vw;
          width: 40vw;

          svg {
            width: 20px;
            height: 20px;
          }

          h1 {
            font-size: 2vw;
            margin-left: 5vw !important;
          }
        }
      }
    }
  }

  .circularring {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    svg {
      width: 95vw;
      height: 150vw !important;
    }
  }

  .srijanlogo_bottom {
    text-align: center;
    padding: 8vw 0 20vw 0;
    img {
      width: 50%;
      object-fit: contain;
    }
  }
}

@media (max-width: 380px) {
  .comingtranslate {
    .slidercomingmain {
      .slidetrackcoming {
        .individualcomingdiv {
          svg {
            width: 15px;
            height: 15px;
          }
        }
      }
    }
  }
}
