.tophead {
  min-height: 100vh;
  background: var(--srijan4-gradient-4);

  .stardiv {
    position: absolute;
    z-index: -0.05;
    top: 0;
    height: 60vh;
    width: 100% !important;
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
      overflow-x: hidden;
      object-fit: cover;
    }
  }

  .main_content_comingsoon {
    height: 100vh;
    position: relative;
    z-index: 20;
  }

  .moveleft:hover .srigen {
    position: absolute;
    top: 46.6%;
    left: 43%;
    transform: translate(-50%, -50%);
  }

  .moveleft:hover .mirrortxt {
    position: absolute;
    top: 46.6%;
    left: 43%;
    transform: translate(-50%, -50%);
  }

  .moveleft:hover .diamond {
    position: absolute;
    top: 53%;
    left: 69%;
    transform: translate(-50%, -50%);
  }
}

.topimg {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  img {
    width: 70px;
    // height: 50%;
    // object-fit: cover;
  }
}

#reverse_star {
  transform: scaleY(-1);
}

#reverse3d_star {
  transform: scaleZ(-1);
}

.srigen {
  position: absolute;
  top: 46%;
  left: 56%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  z-index: 19;
  backdrop-filter: blur(7px);
  #custom_starinsrizen {
    position: absolute;
    top: 0;
    img {
      max-width: 100%;
      // height: 100%;
      object-fit: cover;
    }
  }
  h1 {
    user-select: none;
    font-family: var(--Gilroy);
    font-size: 8vw;
    font-weight: 600;
    // background-color: var(--srijan4-gradient-15);
    background: linear-gradient(180deg, #b621fe 0%, #1fd1f9 100%);
    // background: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.mirrortxt {
  user-select: none;
  position: absolute;
  top: 46%;
  left: 56%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  z-index: 20 !important;
  opacity: 0.35;
  margin-top: 6.7vw;
  ::before {
    content: "";
    position: absolute;
    bottom: 50%;
    left: 0;
    width: 100%;
    height: 30%;
    border: none;
    outline: none;
    box-shadow: inset 0px 0px 0px 100px #1f18348c;
    background: var(--srijan4-gradient-4);
    // background-color: red !important;
    opacity: 0.6;
  }
  h1 {
    font-size: 7.85vw;
    font-weight: 600;
    transform: scaleY(-1);
    opacity: 0.300000011920929;
    // background: var(--srijan4-gradient-15);
    background: linear-gradient(180deg, #b621fe 0%, #1fd1f9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.diamond {
  position: absolute;
  top: 53%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: all 0.3s ease-in-out;
  width: 23vw;
  height: 35vw;
  backdrop-filter: blur(0.5px);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.rectangle {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}

.circularring {
  position: absolute;
  top: 56.1%;
  left: 50%;
  transform: translate(-50%, -50%);
  svg {
    width: 75vw;
    height: 75vw;
  }
  svg:before {
    content: "";
    position: absolute;
    bottom: 50%;
    left: 0;
    width: 100%;
    height: 30%;
    border: none;
    outline: none;
    box-shadow: inset 0px 0px 0px 100px #1f18348c;
    // box-shadow: inset 0px 0px 0px 100px red;
  }
}

$animationSpeed: 35s;
$animationmobilespeed: 32s;

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-22vw * 7));
  }
}

.comingtranslate {
  max-width: 99.5%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 80%;
  overflow-y: hidden;
  background-color: var(--srijan4-dark-blue);
  transform: rotate(-1.5deg) translateY(-40px);
  transform-origin: top right;
  .slidercomingmain {
    // background-color: var(--srijan4-dark-blue);
    padding-top: 1%;
    padding-bottom: 1%;
    margin: auto;
    overflow: hidden;
    position: relative;
    background-color: rgba(255, 255, 255, 0.356) !important;
    width: 100%;
    user-select: none;

    &::after {
      right: 0;
      top: 0;
      transform: rotateZ(180deg);
    }

    &::before {
      left: 0;
      top: 0;
    }

    .slidetrackcoming {
      animation: scroll $animationSpeed linear infinite;
      display: flex;
      width: calc(22vw * 14);
      color: white;

      .individualcomingdiv {
        display: flex;
        // margin: 0 2vw;
        justify-content: center;
        // background-color: red;
        align-items: center;
        width: 22vw;

        h1 {
          font-size: 1.2vw;
          font-family: var(--srijan5-font-5);
          font-weight: 200;
          // margin: 0 1.5vw;
          margin-left: 3.55vw !important;
        }
      }
    }
  }
}

.smallsvg {
  width: 250px;
  height: 250px;
}

.srijanlogo_bottom {
  text-align: center;
  margin-top: 4vw;
  padding: 2vw 0 5vw 0;
  // .logo_parent {
  //   border-radius: 10px;
  //   background: linear-gradient(
  //     138deg,
  //     rgba(255, 255, 255, 0.56) 0%,
  //     rgba(255, 255, 255, 0.29) 100%
  //   );
  //   box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
  //   backdrop-filter: blur(20px);
  //   height: 20vw;
  //   width: 22.5vw;
  //   flex-shrink: 0;
  //   margin-left: auto;
  //   margin-right: auto;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }
  img {
    width: 60%;
    pointer-events: none;
    object-fit: contain;
    box-shadow: 0px 0px 4px 0px rgba(0, 157, 191, 0.25),
      0px 0px 4px 0px rgba(0, 157, 191, 0.25), 0px 0px 4px 0px rgba(0, 157, 191, 0.25),
      0px 4px 7px 0px rgba(0, 0, 0, 0.25);
  }
}

.tshirtsection {
  text-align: center;
  margin-top: 5vw;
  h1 {
    padding-bottom: 5vw;
    span {
      font-size: 3.45vw;
      font-family: var(--srijan4-font-2);
      color: white;
    }
  }

  #tshirt_iso {
    background: var(--srijan4-gradient-8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .image_tshirt_holder {
    img {
      width: 40%;
      object-fit: contain;
    }
    padding-bottom: 5vw;
  }

  .btn_buy_shrigen_tshirt {
    button {
      display: block;
      color: white;
      background: var(--srijan4-gradient-13);
      border: none;
      outline: none;
      margin-left: auto;
      margin-right: auto;
      padding: 0.5vw 2vw;
      font-size: 1.5vw;
      border-radius: 15px;
      cursor: pointer;
      font-family: var(--srijan4-font-1);
      font-weight: 700;
    }
  }
}

.btnholder_brochure {
  padding-bottom: 5vw;
  .button_download_bro {
    display: block;
    color: white;
    background: var(--srijan4-gradient-1);
    padding: 0.5vw 2vw;
    border: none;
    outline: none;
    margin: 2vw auto;
    cursor: pointer;
    font-weight: 600;
    font-family: var(--srijan4-font-1);
    border-radius: 20px;
    transition: all 0.25s ease-in-out;
    font-size: 1.25vw;
  }
}

@-webkit-keyframes sdb06 {
  0% {
    -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@keyframes sdb06 {
  0% {
    transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

#section06 section span {
  position: absolute;
  z-index: 21;
  top: 87%;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  -webkit-animation: sdb06 1.5s infinite;
  animation: sdb06 1.5s infinite;
  box-sizing: border-box;
}

@media (max-width: 900px) and (min-width: 661px) {
  .srigen {
    position: absolute;
    top: 51%;
    left: 58.5%;
    transform: translate(-50%, -50%);
  }

  .mirrortxt {
    position: absolute;
    top: 51%;
    left: 58.5%;
    transform: translate(-50%, -50%);
    margin-top: 8vw;
  }

  .moveleft:hover .srigen {
    position: absolute;
    top: 51% !important;
    left: 40%;
    transform: translate(-50%, -50%);
  }

  .moveleft:hover .mirrortxt {
    position: absolute;
    top: 51% !important;
    left: 40%;
    transform: translate(-50%, -50%);
  }

  .moveleft:hover .diamond {
    position: absolute;
    top: 55%;
    left: 70%;
    transform: translate(-50%, -50%);
  }

  #custom_starinsrizen {
    display: none;
  }

  .diamond {
    position: absolute;
    top: 53%;
    left: 32%;
  }
}

@media (max-width: 660px) {
  //comingsoon.module.scss

  //line334
  #custom_starinsrizen {
    display: none;
  }

  .topimg {
    img {
      width: 50px;
    }
  }

  .diamond {
    position: absolute;
    top: 48%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 2;
    transition: all 0.3s ease-in-out;
    width: auto;
    height: auto;
    img {
      width: 60%;
      object-fit: contain;
    }
  }

  .srigen {
    position: absolute;
    top: 44.5%;
    left: 58.5%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
    z-index: 2;

    h1 {
      user-select: none;
      font-family: var(--Gilroy);
      font-size: 8vw;
      padding-right: 0 !important;
    }
  }

  .mirrortxt {
    position: absolute;
    top: 44.5%;
    left: 58.5%;
    transform: translate(-50%, -50%);
    margin-top: 7.5vw;
    z-index: 2;
    ::before {
      content: "";
      position: absolute;
      bottom: 50%;
      left: 0;
      width: 100%;
      height: 30%;
      border: none;
      outline: none;
      box-shadow: inset 0px 0px 0px 100px #1f18348c;
      opacity: 0.5;
    }
    h1 {
      font-size: 8vw;
      font-weight: 600;
      transform: scaleY(-1);
      opacity: 0.300000011920929;
    }
  }

  .moveleft:hover .srigen {
    position: absolute;
    top: 44.5% !important;
    left: 42% !important;
    transform: translate(-50%, -50%);
  }

  .moveleft:hover .mirrortxt {
    position: absolute;
    top: 44.5% !important;
    left: 42% !important;
    transform: translate(-50%, -50%);
  }

  .moveleft:hover .diamond {
    position: absolute;
    top: 48% !important;
    right: 2% !important;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    img {
      min-width: 120%;
      object-fit: cover;
    }
  }

  @keyframes scroll0 {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-40vw * 7));
    }
  }

  .comingtranslate {
    position: absolute;
    top: 75%;
    .slidercomingmain {
      padding-top: 2.5%;
      padding-bottom: 2.5%;
      .slidetrackcoming {
        animation: scroll0 $animationmobilespeed linear infinite;
        width: calc(40vw * 14);

        .individualcomingdiv {
          margin: 0 4vw;
          width: 40vw;

          svg {
            width: 20px;
            height: 20px;
          }

          h1 {
            font-size: 2vw;
            margin-left: 6.6vw !important;
          }
        }
      }
    }
  }

  .circularring {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    svg {
      width: 95vw;
      height: 150vw !important;
    }
  }

  .srijanlogo_bottom {
    text-align: center;
    padding: 4vw 0 14vw 0;
    margin-top: 9vw;
    // .logo_parent {
    //   height: 40vw;
    //   width: 42.5vw;
    // }
    img {
      width: 80%;
      object-fit: contain;
    }
  }

  .tshirtsection {
    margin-top: 23vw;
    h1 {
      padding-bottom: 10vw;
      span {
        font-size: 7.8vw;
      }
    }

    .image_tshirt_holder {
      img {
        width: 80%;
        object-fit: contain;
      }
      padding-bottom: 10vw;
    }

    .btn_buy_shrigen_tshirt {
      button {
        padding: 1.5vw 6vw;
        font-size: 3vw;
        border-radius: 15px;
        font-weight: 500;
      }
    }
  }

  .btnholder_brochure {
    padding-bottom: 5vw;
    .button_download_bro {
      display: block;
      color: white;
      background: var(--srijan4-gradient-1);
      padding: 2vw 6vw;
      margin: 4vw auto;
      border-radius: 10px;
      font-size: 3vw;
    }
  }
}

@media (max-width: 540px) {
  .comingtranslate {
    .slidercomingmain {
      .slidetrackcoming {
        .individualcomingdiv {
          svg {
            width: 3.5vw;
            height: 3.5vw;
          }
        }
      }
    }
  }
}

@media (max-width: 490px) {
  .comingtranslate {
    .slidercomingmain {
      .slidetrackcoming {
        .individualcomingdiv {
          svg {
            width: 3.5vw;
            height: 3.5vw;
          }
        }
      }
    }
  }
}

@media (max-width: 370px) {
  .comingtranslate {
    .slidercomingmain {
      .slidetrackcoming {
        .individualcomingdiv {
          svg {
            width: 3.4vw;
            height: 3.4vw;
          }
        }
      }
    }
  }
}
