.sponsorsMain {
  //background: var(--srijan4-gradient-3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sponsorsHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6875rem;
}

.mainHeader {
  color: var(--srijan4-white);
  font-size: 4rem;
  line-height: 4.6875rem;
  font-family: var(--srijan4-font-2);
  padding-top: 10.5rem;
}
.headerSubtext {
  color: var(--srijan-gray-2);
  max-width: 58vw;
  margin-bottom: 3.0625rem;
  text-align: center;
  font-family: var(--srijan4-font-1);
  font-weight: 900;
  font-size: 1rem;
  font-style: normal;
  line-height: 149.3%;
}

.currSponsors,
.prevSponsorsmobile {
  //background-color: var(--srijan4-dark-blue);
  width: 80.9vw;
  max-width: 80.9vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.125rem;
  border-radius: 1.25rem;
}
.prevSponsorsmobile {
  display: none;
}

.currSponsorsheader {
  color: var(--srijan4-white);
  margin-bottom: 4.375rem;
  margin-top: 0.75rem;
  font-family: var(--srijan4-font-1);
  font-style: normal;
  font-weight: 600;
  font-size: 3.75rem;
  line-height: 5.625rem;
}
.brandLogo1 {
  margin-bottom: 5.4375rem;
}
.brandText {
  color: var(--srijan4-white);
  text-align: left;
  margin-bottom: 0.625rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.875rem;
}
.brandGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 3rem;
  padding-bottom: 7.3125rem;
}

.prevSponsors {
  //background-color: var(--srijan4-dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80vw;
  margin: auto;
  margin-bottom: 3.3125rem;
  padding-bottom: 2rem;
  border-radius: 1.25rem;
}

.prevSponsorsheader {
  color: var(--srijan4-white);
  margin-top: 2.375rem;
  margin-bottom: 3.8125rem;
  font-family: var(--srijan4-white);
  font-style: normal;
  font-weight: 600;
  font-size: 2.8125rem;
  line-height: 4.25rem;
  .previous_custom {
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
  }
}

.brandGrid2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  gap: 2.9375rem;
}
.brandLogo {
  object-fit: cover;
  width: 100%;
}
.lastcol {
  display: flex;
  justify-content: center;
  gap: 3rem;
  max-width: min(30rem, 25vw);
}

@media screen and (max-width: 1200px) {
  .sponsorsHeader {
    gap: 0;
  }
  .mainHeader {
    font-size: 1.25rem;
    padding-top: 6.375rem;
    line-height: 1.4375rem;
    margin-bottom: 1rem;
  }
  .headerSubtext {
    font-size: 0.5rem;
    margin-bottom: 1.5625rem;
  }
  .currSponsors {
    width: 89vw;
    max-width: 89vw;
  }
  .currSponsorsheader {
    font-size: 1.25rem;
    line-height: 1.875rem;
    margin-bottom: 1rem;
  }
  .brandText {
    font-size: 0.5rem;
    line-height: 0.75rem;
  }

  .brandItem1 {
    visibility: hidden;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
  }
  .brandGrid,
  .brandGrid2 {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding-bottom: 2rem;
  }
  .brandGrid2 {
    gap: 3rem;
  }
  .brandLogo {
    max-width: 30vw;
  }
  .prevSponsorsmobile {
    display: grid;
    width: 89vw;
    max-width: 89vw;
    margin-bottom: 2.25rem;
  }
  .prevSponsorsheader {
    font-size: 1.25rem;
    line-height: 1.875rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  .prevSponsors {
    display: none;
  }
}
