
@font-face{
    font-family: 'Gilroy-Bold';
    src: url(../fonts/gilroy/Gilroy-Bold.ttf);
}





.containerContact {
    display: flex;
    flex-direction: column;
    padding-top: 134px;
    text-align: center;
    
    
    
}

.contactHeader, .infoGrad{
 font-family: 'Gilroy-Bold';  
font-size: 48px;
line-height: 56px;
font-weight: 700;
}

.infoGrad{
    background: linear-gradient(to bottom, rgba(182,33,254,1) 35%, rgba(31,209,249,1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}



.credInfo {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 72px;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}
.credItems{
    width: 264px;
    margin-right: 33px;
    margin-left: 33px;
    font-family: 'Gilroy-Bold';
}
.credText{
    font-weight: 900;
    display: block;
    margin-top: 0.5rem;
}

.containerFooter{
    margin-top: 104px;
    background-color: #15131A;

}
.footerDesc{
    max-width: 970px;
    margin: auto;
   padding-top: 99px;
    font-size: 24px;
    font-weight: 900;
    line-height: 39px;
    text-align: center;
    color: rgba(255, 255, 255, 0.64);
}

.facebookIcon{
    width: 2.91rem;
    height: 2.91rem;
    color: white;
    margin-right: 66.36px;
    margin-left: 66.36px;
    
}
.instaIcon{
    width: 2.91rem;
    height: 2.91rem;
    color: white;
    margin-right: 66.36px;

}
.linkedinIcon
{
    width: 2.91rem;
    height: 2.91rem;
    color: white;
    margin-right: 66.36px;
}
.iconSection
{
    display: flex;
    justify-content: center;
    margin-top: 87px;
    padding-bottom: 148px;
    
}

@media screen and (max-width: 1200px)
{
    .contactHeader, .infoGrad{
        font-size: 48px;
        margin-bottom: 3rem;
        
    }
    .credInfo{
        flex-direction: column;
        max-width: 80vh;
        margin: auto;
        
    }
    .credItems{
        margin: 0;
        margin-bottom: 2rem;
    }
    .footerDesc{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    

}

