@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {

  --srijan4-font-1: "Poppins", sans-serif;
  --srijan-font-2: "Montserrat", sans-serif;

  --srijan4-dark-blue: #010044;
  --srijan-main-theme: #15131A;
  --srijan4-dark-pink: #B4015F;
  --srijan4-med-pink: #EA0064;
  --srijan4-light-pink: #FF5F9F;

  --srijan-white-1: #FFFFFF;

  --srijan4-gradient-1: linear-gradient(180.56deg, #0704B9 -22.26%, #B4015F 159.83%);
  --srijan4-gradient-2: linear-gradient(161.91deg, #010044 0%, #030156 28.12%, #02014C 66.54%, #B4015F 114.02%);
  --srijan4-gradient-3: linear-gradient(161.91deg, #010044 0%, #02014C 66.54%);
  --srijan4-gradient-4: linear-gradient(161.91deg, #02010D 0%, #040344 66.54%);
  --srijan4-gradient-5: linear-gradient(175.09deg, #010044 -8.29%, #030156 24.29%, #02014C 68.8%, #B4015F 123.8%);
  --srijan-gradient-6: linear-gradient(#B4015F,#0704B9);

  --heading-1-text-weight: 600;
  --heading-2-text-weight: 500;
  --paragraph-1-text-weight: 400;
  --paragraph-2-text-weight: 300;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--srijan4-font-1);
}
