.sponsormain {
  background-color: var(--srijan-main-theme);
}

.sponsors {
  text-align: center;
  padding-bottom: 7vw;
  h1 {
    font-size: 3.3vw;
    background: var(--srijan4-gradient-10);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: var(--srijan4-font-2);
    user-select: none;
  }
}

.txtsponhalf {
  background: rgba(204, 191, 237, 1);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: var(--srijan4-font-2);
  font-size: 3.3vw;
}

$animationSpeed: 20s;

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-30vw * 7));
  }
}

.slider {
  background-color: var(--srijan4-dark-blue);
  padding-top: 7%;
  padding-bottom: 7%;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  user-select: none;

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slidetrack {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(30vw * 14);
  }

  .slidetrack:hover {
    animation-play-state: paused;
    .slide img:hover {
      transform: scale(1.1);
    }
  }

  .slide {
    width: 30vw;
    height: 7vw;
    margin-left: 0.7%;
    margin-right: 0.7%;
    img {
      width: 100%;
      height: 100%;
      // object-fit: contain;
      transition: all 0.2s ease-in-out;
    }
  }
}

@media only screen and (max-width: 991px) {
  .sponsors h1 {
    font-size: 6.3vw;
  }

  .txtsponhalf {
    font-size: 6.3vw;
  }
}

@media screen and (max-width: 660px) {
  .sponsors {
    padding-top: 14vw;
    padding-bottom: 14vw;
  }

  .sponsors h1 {
    font-size: 8.3vw;
  }

  .txtsponhalf {
    font-size: 8.3vw;
  }

  .slider {
    padding-top: 14%;
    padding-bottom: 14%;
  }

  // .slidetrack {
  // 	width: calc(50vw * 14);
  // }

  // @keyframes scroll {
  // 	0% { transform: translateX(0); }
  // 	100% { transform: translateX(calc(-50vw * 7))}
  // }
  // .slide{
  // 	width: 50%;
  // 	height: 55vw;
  //     margin-left: 1%;
  //     margin-right: 1%;
  // 	img{
  // 		width: 100%;
  // 		height: 100%;
  // 	}
  // }
}
